<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Radio application with websockets</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</head>
<body>
	<h3>Tune In </h3>
</body>
</html>
